/*기본태그값 */
body {
 background: #fff;
 font: 0.8em/1.6em Times,  Times New Roman, Georgia, MS Serif;
 margin:0;
 padding:0;
 }
 a {
	text-decoration:none;
	color:#fff;
	padding:0.5em 0;
	}
 a:hover {
  color:#999;
  }
/*left*/
.left {
  float:left;
  }

.main{margin:0 auto;}
.title{]
.mid{}
.posts{}
.bottom{}