
body {
 font: 0.8em/1.6em;
 font-family: "Times New Roman", Times, serif;
 margin:0;
 padding:0;
 text-align:center;
 }
 
 
 /* Headings */
h1 {font-size: 2em }            /* 28px */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em; color:#777}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
    font-family: "Times New Roman", Times, serif;
}

h3, h4, h5, h6 { margin-top: .8em; }


hr { border: 1px solid #EEEEEE; }

 a {
	text-decoration:none;
	color:#000;
	padding:0.5em 0;
	}
 a:hover {
  color:#888;
  }
  img
{  border-style: none;
}

ul {list-style-type:none; margin:0; padding:0;}
li {
list-style-type:none;
margin-top:10px; 
color:#111111;
}

#main{
margin-top:25px;
}

#title{
width:800px;margin-left:auto;margin-right:auto;
font-size:26px;
}

#mid{
margin-right:15px;
margin-top:15px;  
margin:0 auto; 
width:800px;
text-align:center;
}

#mid h1 {font-size: 2em }            /* 28px */
#mid h2 {font-size: 1.571em}	/* 22px */
#mid h3 {font-size: 1.429em}	/* 20px */
#mid h5 {font-size: 1.143em}	/* 16px */
#mid h6 {font-size: 1em; color:#777}		/* 14px */

#mid h4
{
font-family: Helvetica;
font-size: 1.286em;
text-align:left;
}


#mid blockquote {
	border-left: 4px solid #dddddd;
	display: block;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
}

#mid blockquote p {
	color: #444444;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
	word-wrap: break-word;
}


/* navigation */
#navi
{
display:inline-block;
 *display:inline; 
 zoom:1;
background: #000305;
border-radius: 40px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
margin:0 30;
/*
height:30px;
*/
}

#navi ul
{
list-style-type: none;
}

#navi ul li
{
color: white;
font-size: 20px;
line-height: 30px;
}

#navi a
{
color:#fff;
}

#navi a:hover
{
color:#00B4DB;
}

/* class */
.posts{margin-up:0.8em;margin-down:0.8em}

#bottom{
width:800px;margin-left:auto;margin-right:auto;
}
