<html>
<head>
  <title>Visual Art App</title>
</head>
<body>
    
<div class="container_12">
<div class="grid_4 prefix_2 title">
    <h1><a href="/">Visual Art Applications by SungLab</a></h1>
</div>
    
    
<div class="grid_8 prefix_2 suffix_2 main">
{{ content }}
</div>

    
<div class="grid_5 prefix_2 title">
    
    <a href="http://itunes.com/apps/sunglab">
        <img src="/images/appstore.png" />
    </a>&nbsp;&nbsp;
    <a href="http://market.android.com/search?q=pub:SungLab">
        <img src="/images/googleplay.png" />
    </a>
</div>
</body>
</html>
